//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        .container
            a(href='http://localhost:3000') Return to the homepage
            form(method="POST")
                .mb-3
                    label.form-label(for="dogName") Dog Name
                    input.form-control(type="text" id="dogName" placeholder="Bingo", name="name", required)
                
                .mb-3
                    label.form-label(for="typeOfBreeds") Type Of Dog (Breeds)
                    input.form-control(type="text" id="typeOfBreeds" placeholder="German Shepherd", name="breeds")

                .mb-3
                    label.form-label(for="dogAge") Dog Age
                    input.form-control(type="number" id="dogAge" placeholder="24", name="age")                
                
                .mb-3
                    label.form-label(for="dogBio") Dog Bio
                    textarea.form-control(id="dogBio", name="bio")
                button.btn.btn-primary(type="submit", value="Submit") Submit

